span.titre{
	color: purple;
	font-size: 50px;
}

body{
	background: url("https://www.wallpapertip.com/wmimgs/75-751645_google-wallpaper-4k.jpg")no-repeat;
	background-size: 100%;
}

button.btn_se_connecter{
	margin-top: 70px;
	background-color: skyblue;
	
}

button.btn_sinscrire{
	background-color: skyblue;
	position:absolute;
	top: 250px;
	right: 608px;
}




p.good_life{
	margin-top: 400px;
}

img.logo_g{
	margin-left: 1280px;
	position:absolute;
	top : 8px;

}

button.btn_produits{
	position: absolute;
	top: 8px;
	left: 10px;
	background-color: yellowgreen;
}

img.img_shop{
	position: absolute;
	top: 12px;
	left: 40px;
	
}

button.btn_contacter{
	background-color: black;
	position: absolute;
	left: 1247px;
	color: white;
	top: 585px;
}

.bouton
{
    color:#0000ff;
    font-size:24px;
    cursor:pointer;
    position: absolute;
    top: 560px;
    left: 1250px;
}
.bouton:hover
{
    text-decoration:underline;
}
.texte
{
    color: black;
    visibility: hidden;
    position: absolute;
    left: 1000px;
    top: 400px;
}
.texte:hover
{
    border:1px solid #000000;
    padding:  3px;
    background:#cccccc;
    color:#000000;
}

img.img_drive{
	position: absolute;
	border: none;
	top: 490px;
}

